<div style="float: left;">
    <img src="image\sl_logo.svg" alt="SL Logo" width="300" height="300">
</div>

# 2024 Samsung Lions Team Standings

KBO 삼성 라이온즈의 팬으로서, 2024년도 시즌의 유의미한 삼성 라이온즈 팀데이터를 수집하고 분석해 보았습니다.
<br>As a fan of the KBO's Samsung Lions, I have collected and analyzed significant team data from the 2024 season of the Samsung Lions.

### Objectives
- 원정/홈 선취점 시 승률 - WPCT (Winning %) when scoring the first run (Away/Home)
- 구장별 승률 - WPCT by stadium
- 5회, 7회까지 리드시 승률 - WPCT when leading after the 5th and 7th innings
- 전체 시즌/월별 승률, 팀 타율, 팀 평균 자책점 - Season/Monthly WPCT, Team AVG, Team average ERA
- 선발, 불펜 투수 평균 자책점 - Starting pitchers' and relief pitchers' average ERA

## 2024 Match Data

In [1]:
#install kbodata package
#pip install kbodata 

#load kbo-data package
import kbodata

#Require Chrome driver -> https://chromedriver.chromium.org/downloads
#Make sure to specify the correct path to the installed Chrome driver

#select year, month, day
yyyy = 2024
#mm = 4
#dd = 26

# Get the KBO match schedule for mm/dd/yyyy
#day = kbodata.get_daily_schedule(yyyy, mm, dd, r"chromedriver-win64\chromedriver.exe")

# Get the KBO match schedule for mm/yyyy
#month = kbodata.get_monthly_schedule(yyyy, mm, r"chromedriver-win64\chromedriver.exe")

# Get the KBO match schedule for yyyy
year = kbodata.get_yearly_schedule(yyyy, r"chromedriver-win64\chromedriver.exe")

in progress: 100%|█████████████████████████████████████████████████████████████████████| 12/12 [01:26<00:00,  7.21s/it]

In [2]:
#filter S.Lions matches in the 2024 KBO league season
sl_year = year[((year.home == "SS") | #filter S.Lions matches
               (year.away == "SS")) & 
               (~year.date.str.contains("2024030") & #filter out pre-season matches
                ~year.date.str.contains("2024031"))] 

print(sl_year.shape[0]) #total matches played in 2024
print(sl_year)

39
       status      date home away  dbheader gameid
51   finished  20240323   KT   SS         0  SSKT0
56   finished  20240324   KT   SS         0  SSKT0
58   finished  20240326   LG   SS         0  SSLG0
63   finished  20240327   LG   SS         0  SSLG0
68   finished  20240328   LG   SS         0  SSLG0
75   finished  20240329   SS   SK         0  SKSS0
81   finished  20240330   SS   SK         0  SKSS0
85   finished  20240331   SS   SK         0  SKSS0
90   finished  20240402   SS   WO         0  WOSS0
95   canceled  20240403   SS   WO         0  WOSS0
100  finished  20240404   SS   WO         0  WOSS0
106  finished  20240405   HT   SS         0  SSHT0
111  finished  20240406   HT   SS         0  SSHT0
116  finished  20240407   HT   SS         0  SSHT0
120  finished  20240409   LT   SS         0  SSLT0
125  finished  20240410   LT   SS         0  SSLT0
130  finished  20240411   LT   SS         0  SSLT0
134  finished  20240412   SS   NC         0  NCSS0
140  finished  20240413   SS   NC         0  NCSS0
144  finished  20240414   SS   NC         0  NCSS0
150  finished  20240416   SS   OB         0  OBSS0
155  finished  20240417   SS   OB         0  OBSS0
160  finished  20240418   SS   OB         0  OBSS0
167  finished  20240419   HH   SS         0  SSHH0
172  finished  20240420   HH   SS         0  SSHH0
177  finished  20240421   HH   SS         0  SSHH0
183  finished  20240423   SS   LG         0  LGSS0
188  finished  20240424   SS   LG         0  LGSS0
193  finished  20240425   SS   LG         0  LGSS0
199  finished  20240426   WO   SS         0  SSWO0
204  finished  20240427   WO   SS         0  SSWO0
209  finished  20240428   WO   SS         0  SSWO0
211  finished  20240430   OB   SS         0  SSOB0
216  finished  20240501   OB   SS         0  SSOB0
221  finished  20240502   OB   SS         0  SSOB0
228  finished  20240503   SS   LT         0  LTSS0
233  finished  20240504   SS   LT         0  LTSS0
238  canceled  20240505   SS   LT         0  LTSS0
243  canceled  20240507   SS   HT         0  HTSS0

In [3]:
# 2024년 KBO 경기 정보를 가져옵니다. 
# Get the KBO match information for 2024.
sl_year_data = kbodata.get_game_data(sl_year, r"chromedriver-win64\chromedriver.exe")

in progress: 100%|█████████████████████████████████████████████████████████████████████| 39/39 [07:48<00:00, 12.02s/it]

In [4]:
# Convert the team data to DataFrame
sl_scoreboard = kbodata.scoreboard_to_DataFrame(sl_year_data)
sl_scoreboard

,idx,team,result,i_1,i_2,i_3,i_4,i_5,i_6,i_7,...,day,week,home,away,dbheader,place,audience,starttime,endtime,gametime
0,20240323003,삼성,1,0,1,0,0,0,0,1,...,23,5,KT,삼성,0,수원,18700,14:00,17:19,3:19
1,20240323010,KT,-1,0,0,1,1,0,0,0,...,23,5,KT,삼성,0,수원,18700,14:00,17:19,3:19
2,20240324003,삼성,1,2,1,0,1,0,3,2,...,24,6,KT,삼성,0,수원,18700,14:00,17:17,3:17
3,20240324010,KT,-1,0,0,0,1,0,0,0,...,24,6,KT,삼성,0,수원,18700,14:00,17:17,3:17
4,20240326003,삼성,-1,0,0,0,0,0,3,0,...,26,1,LG,삼성,0,잠실,14229,18:30,21:09,2:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,20240502001,두산,-1,0,0,0,1,0,0,0,...,2,3,두산,삼성,0,잠실,20395,18:30,21:16,2:46
68,20240503002,롯데,1,0,0,0,3,1,0,2,...,3,4,삼성,롯데,0,대구,24000,18:30,22:32,4:02
69,20240503003,삼성,-1,1,4,0,0,0,0,0,...,3,4,삼성,롯데,0,대구,24000,18:30,22:32,4:02
70,20240504002,롯데,1,1,0,0,0,0,0,6,...,4,5,삼성,롯데,0,대구,24000,17:00,20:14,3:14
71,20240504003,삼성,-1,2,0,0,0,0,0,0,...,4,5,삼성,롯데,0,대구,24000,17:00,20:14,3:14

## 원정경기 선취점 시 승률 - WPCT when scoring first (Away)

In [5]:
#load pandas
import pandas as pd

#filter away matches
sl_scoreboard_away = sl_scoreboard[sl_scoreboard.away == "삼성"]

def first_run_away():
    win_a = 0 #wins
    draw_a = 0 #draws
    loss_a = 0 #losses
    
    #compare each match
    for i in range(0, sl_scoreboard_away.shape[0], 2): 
        match = sl_scoreboard_away.iloc[i: i+2]
        
        #compare each inning to identify the first run team
        for j in range(3, 21):
            
            #filters when S.Lions scores first
            if (match.iloc[0][j] != 0 and (match.iloc[1][j] == 0 or match.iloc[1][j] != 0)):
                if match.iloc[0][2] == 1: #S.Lions wins 
                    win_a += 1
                elif match.iloc[0][2] == -1: #S.Lions loses
                    loss_a += 1
                else: #S.Lions draws
                    draw_a += 1
                break
                
            #filters when the opponent scores the first run    
            elif (match.iloc[0][j] == 0 and match.iloc[1][j] != 0):
                break
    
    return win_a, draw_a, loss_a
    
win_a, draw_a, loss_a = first_run_away() #get values

total_games_a = win_a + draw_a + loss_a #total away matches played when S.Lions scores first
win_per_a = (win_a * 100) / (total_games_a - draw_a) #calculate WPCT

#print result messages
result_message_a_kor = (
    f"원정경기 중 선취점을 얻은 {total_games_a}경기 중 {win_a}승 "
    f"{draw_a}무 {loss_a}패를 기록했고, "
    f"승률은 {win_per_a:.2f}%를 기록했습니다."
)

result_message_a_eng = (
    f"Out of {total_games_a} away matches with scoring first, "
    f"the team recorded {win_a}W/{draw_a}D/{loss_a}L, "
    f"resulting in a WPCT of {win_per_a:.2f}%."
)

print(result_message_a_kor)
print(result_message_a_eng)

원정경기 중 선취점을 얻은 10경기 중 10승 0무 0패를 기록했고, 승률은 100.00%를 기록했습니다.
Out of 10 away matches with scoring first, the team recorded 10W/0D/0L, resulting in a WPCT of 100.00%.

## 홈경기 선취점 시 승률 - WPCT when scoring first (Home)

In [6]:
#filter home matches
sl_scoreboard_home = sl_scoreboard[sl_scoreboard.home == "삼성"]

def first_run_home():
    win_h = 0 #wins
    draw_h = 0 #draws
    loss_h = 0 #losses
    
    #compare each match
    for i in range(0, sl_scoreboard_home.shape[0], 2):
        match = sl_scoreboard_home.iloc[i: i+2]
        
        #compare each inning to identify the first run team
        for j in range(3, 21):
            
            #filters when S.Lions scores first
            if (match.iloc[0][j] == 0 and match.iloc[1][j] != 0):
                if match.iloc[1][2] == 1: #S.Lions wins
                    win_h += 1
                elif match.iloc[1][2] == -1: #S.Lions loses
                    loss_h += 1
                else: #S.Lions draws
                    draw_h += 1
                break
            else:
                break
                
    return win_h, draw_h, loss_h
    
win_h, draw_h, loss_h = first_run_home() #get values

total_games_h = win_h + draw_h + loss_h #calculate total home matches played when S.Lions scores first
win_per_h = (win_h * 100) / (total_games_h - draw_h) #calculate WPCT

#print result messages
result_message_h_kor = (
    f"홈경기 중 선취점을 얻은 {total_games_h}경기 중 {win_h}승 "
    f"{draw_h}무 {loss_h}패를 기록했고, "
    f"승률은 {win_per_h:.2f}%를 기록했습니다."
)

result_message_h_eng = (
    f"Out of {total_games_h} away matches with scoring first, "
    f"the team recorded {win_h}W/{draw_h}D/{loss_h}L, "
    f"resulting in a WPCT of {win_per_h:.2f}%."
)

print(result_message_h_kor)
print(result_message_h_eng)

홈경기 중 선취점을 얻은 5경기 중 4승 0무 1패를 기록했고, 승률은 80.00%를 기록했습니다.
Out of 5 away matches with scoring first, the team recorded 4W/0D/1L, resulting in a WPCT of 80.00%.

## 홈/원정 선취점 시 승률 - WPCT when scoring first (Home & Away)

In [7]:
total_games = win_a + draw_a + loss_a + win_h + draw_h + loss_h #calculate total matches
wins_total = win_a + win_h #calculate total wins
draws_total = draw_a + draw_h #calculate total draws
losses_total = loss_a + loss_h #calculate total losses
win_per_total = (wins_total * 100) / (total_games - draw_a - draw_h) #calculate total WPCT

#print result messages
result_message_total_kor = (
    f"현재까지 선취점을 얻은 {total_games}경기 중 {wins_total}승 "
    f"{draws_total}무 {losses_total}패를 기록했고, "
    f"승률은 {win_per_total:.2f}%를 기록했습니다."
)

result_message_total_eng = (
    f"Out of {total_games} matches with scoring first, "
    f"the team recorded {wins_total}W/{draws_total}D/{losses_total}L, "
    f"resulting in a WPCT of {win_per_total:.2f}%."
)

print(result_message_total_kor)
print(result_message_total_eng)

현재까지 선취점을 얻은 15경기 중 14승 0무 1패를 기록했고, 승률은 93.33%를 기록했습니다.
Out of 15 matches with scoring first, the team recorded 14W/0D/1L, resulting in a WPCT of 93.33%.